/* default style start */

*{
  font-family: 'Raleway', sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  background-color: #FAF7F2;
}

h1,h2,h3,h4,h5,h6, .MH_appTitle, .price{
  font-family: 'Bitter', serif !important;
  font-weight: 700;
}
p{
  color: #333;
}

.MH_shortTitle{
  font-family: 'Pacifico', cursive !important;
}

.MH_appLink{
  font-family: 'Bitter', serif !important;
  font-weight: bold;
}
.MH_container{
  /* width: 1280px; */
  width: 95%;
  max-width: 100%;
  padding: 5px;
  margin: auto;
}
/* default style end */


/* Home page style start */
.MH_heroSection{
  background-image: url("../src/app/assets/home/heroBG.png");
  background-position: center ;
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* Home page style end */

/* 
font-family: 'Bitter', serif;
font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif;
 */